html {
    overflow-y: scroll;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000;
}

body h3 {
    border-bottom: solid 1px #e1e1e1;
    margin-bottom: 0px;
    color: #00214d;
}

body section {
    margin-top: 0px;
    margin-bottom: 20px;
}

body p {
    margin-top: 10px;
}

header {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #00214d;
    color: #fff;
    margin: 0px auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#logo {
    margin: 0;
    font-size: 1.5rem;
}

main {
    max-width: 800px;
    margin: 0px auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #f4f4f4;
    font-size: 12px;
}

.centered-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    width: 30px; 
    height: auto; 
    object-fit: contain; 
    margin: 0 10px; 
}

.header-icon {
    width: 30px; 
    height: auto; 
    object-fit: contain; 
    align-items: center;
}

nav {
    margin-top: 0px;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-li {
    color: #fff;
    display: inline-block;
    position: relative;
}

.header-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0px;
}

a {
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -45px;
    background-color: #00214d;
    padding: 0 5px;
    text-align: center;
}

.dropdown-content li {
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.experiences {
    padding: 0px;
}

/* .experiences h3 {
   text-decoration: underline;
} */

.experience {
    position: relative;
    cursor: pointer;
    padding: 0px 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    transition: background-color 0.3s;
    flex-direction: column;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.experience-header h4{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.experience-header p{
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 16px
}

.experience:hover {
    background-color: #f5f5f5;
}

.experience .icon {
    transition: transform 0.3s;
}

.experience.active .icon {
    transform: rotate(180deg);
}

.experience .details {
    display: none;
}

.experience.active .details {
    display: block;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 14px
}

.seemless-two-column {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
}



